.Navbar{
    display: flex;
    flex-direction: column;
    width: 22%;
   align-items: center;
    
}
.Navbar ul{

    list-style: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 3.7rem;
}
.Navbar ul {
    text-decoration: none;
    padding: 4% 0;

}

.Navbar  ul  li{ 
    font-size: 1.4rem;
    font-weight: 300;
    color: black;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;

}
.Navbar  li:hover{ 
color: blue;

}
