.Navbar{
    display: flex;
    justify-content: space-a;

    
}

.navitem{
    display: flex;
    width:25%;
    text-align: center;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    padding-top: 5%;
    margin-right: 200px;
   position: fixed;
   left: 4px;




    
}
.navitem  li{ 
    list-style: none;
    text-decoration: none;
    padding: 1.7rem 0;
    font-size: 1.4rem;
    font-weight: 300;
    color: black;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;

}
.navitem  li:hover{ 
color: blue;

}
.Navbar .pages{
width: 100%;    
background-color: white;
}
