.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    
   }

/* 
.home .intro h1, .home .intro h1{
    padding-left: 1%;
    font-weight: 500px;
    letter-spacing: 1px;

}
 .home .intro h1{
    font-size: 4rem;
    

} 
.home .intro h2{
    font-size: 2rem;
    color: brown;
}



.home .image_section .image{
    width: 100%;
    height: 100%;


}
.home .image_section .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;

} */